
.idea/.idea.MicroservicesECommerce.dir/.idea/vcs.xml
.idea/.idea.MicroservicesECommerce.dir/.idea/indexLayout.xml
.idea/.idea.MicroservicesECommerce.dir/.idea/encodings.xml
.idea/.idea.Microservices_E-Commerce/.idea/encodings.xml
