
.idea/.idea.MicroservicesECommerce.dir/.idea/vcs.xml
.idea/.idea.MicroservicesECommerce.dir/.idea/indexLayout.xml
.idea/.idea.MicroservicesECommerce.dir/.idea/encodings.xml
.idea/.idea.Microservices_E-Commerce/.idea/encodings.xml
Services/Catalog/Catalog.Api/obj/*
Services/Catalog/Catalog.Api/obj/project.assets.json
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.g.props
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.g.targets
Services/Catalog/Catalog.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.AssemblyInfo.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.AssemblyInfoInputs.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.assets.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.csproj.AssemblyReference.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.GeneratedMSBuildEditorConfig.editorconfig
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.GlobalUsings.g.cs
Services/Catalog/Catalog.Api/obj/project.assets.json
Services/Catalog/Catalog.Api/obj/project.nuget.cache
Services/Catalog/Catalog.Api/obj/project.packagespec.json
Services/Catalog/Catalog.Api/obj/rider.project.restore.info
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.dgspec.json
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.g.props
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.g.targets
Services/Catalog/Catalog.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.AssemblyInfo.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.AssemblyInfoInputs.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.assets.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.csproj.AssemblyReference.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.GeneratedMSBuildEditorConfig.editorconfig
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.GlobalUsings.g.cs
Services/Catalog/Catalog.Api/obj/project.assets.json
Services/Catalog/Catalog.Api/obj/project.nuget.cache
Services/Catalog/Catalog.Api/obj/project.packagespec.json
Services/Catalog/Catalog.Api/obj/rider.project.restore.info
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.dgspec.json
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.g.props
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.g.targets
Services/Catalog/Catalog.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.AssemblyInfo.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.AssemblyInfoInputs.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.assets.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.csproj.AssemblyReference.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.GeneratedMSBuildEditorConfig.editorconfig
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.GlobalUsings.g.cs
Services/Catalog/Catalog.Api/obj/project.assets.json
Services/Catalog/Catalog.Api/obj/project.nuget.cache
Services/Catalog/Catalog.Api/obj/project.packagespec.json
Services/Catalog/Catalog.Api/obj/rider.project.restore.info
Services/Catalog/Catalog.Api/obj/Catalog.Api.csproj.nuget.dgspec.json
.idea/.idea.Microservices_E-Commerce/.idea/.name
.idea/.idea.Microservices_E-Commerce/.idea/indexLayout.xml
.idea/.idea.Microservices_E-Commerce/.idea/vcs.xml
Services/Catalog/Catalog.Api/bin/*
Services/Catalog/Catalog.Api/bin/Debug/net8.0/appsettings.Development.json
Services/Catalog/Catalog.Api/bin/Debug/net8.0/appsettings.json
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Catalog.Api.deps.json
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Catalog.Api.dll
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Catalog.Api.exe
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Catalog.Api.pdb
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Catalog.Api.runtimeconfig.json
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Services/Catalog/Catalog.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Services/Catalog/Catalog.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Catalog.Api.props
Services/Catalog/Catalog.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Catalog.Api.props
Services/Catalog/Catalog.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.Catalog.Api.props
Services/Catalog/Catalog.Api/obj/Debug/net8.0/staticwebassets.build.json
Services/Catalog/Catalog.Api/obj/Debug/net8.0/refint/Catalog.Api.dll
Services/Catalog/Catalog.Api/obj/Debug/net8.0/ref/Catalog.Api.dll
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.sourcelink.json
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.pdb
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.MvcApplicationPartsAssemblyInfo.cs
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.MvcApplicationPartsAssemblyInfo.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.genruntimeconfig.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.dll
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.csproj.FileListAbsolute.txt
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.csproj.CoreCompileInputs.cache
Services/Catalog/Catalog.Api/obj/Debug/net8.0/Catalog.Api.csproj.CopyComplete
Services/Catalog/Catalog.Api/obj/Debug/net8.0/apphost.exe
